/* You can add global styles to this file, and also import other style files */
::-webkit-scrollbar {
  width: 10px; // for vertical scroll bar
  height: 8px; // for horizontal scroll bar
}

.cursor {
  cursor: pointer;
}
