<div class="row">
  <div class="col-md-12">
    <form>
      <div class="row">
        <div class="col-md-5 form-group">
          <label for="name">Name</label>
          <input
            [(ngModel)]="item"
            type="text"
            id="name"
            class="form-control"
            name="item"
          />
        </div>
        <div class="col-md-2 form-group">
          <label for="quantity">Quantity</label>
          <input
            [(ngModel)]="qty"
            type="text"
            id="quantity"
            class="form-control"
            name="qty"
          />
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-12">
          <button type="submit" class="btn btn-success" (click)="addItem()">
            Add
          </button>
          <button type="button" class="btn btn-danger mx-2">Delete</button>
          <button type="button" class="btn btn-primary">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
